{% if user.is_authenticated %}
{% if user.is_staff %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'rifas:admin_dashboard' %}">
        <i class="bi bi-shield-check"></i> Panel Admin
    </a>
</li>
{% endif %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        <i class="bi bi-person-circle"></i> {{ user.username }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="/admin/logout/?next=/admin/login/">Cerrar sesión</a></li>
    </ul>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/admin/login/?next=/admin-panel/" title="Acceso solo para administradores">
        <i class="bi bi-shield-lock"></i> Admin Login
    </a>
</li>
{% endif %}